# Environment variables
.env

.env
.env.*
!.env.example

# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/
ENV/

# Node
node_modules/

# Django / Database
*.sqlite3
*.log
media/
staticfiles/
static/css/tailwind.css

# IDE / OS specific
.vscode/
.idea/
.DS_Store

#md files

01_accounts.md
02_patients.md
03_tasks.md
04_vists.md